{
  parser: "babel-eslint",
  extends: "airbnb",
  rules: {
    "react/jsx-filename-extension": "off",
    "import/extensions": [ 1, "never" ],
    "no-console": "off",
    "react/jsx-wrap-multilines": "off",
    "curly": "off",
    "no-plusplus": "off",
    "prefer-template": "off",
    "react/forbid-prop-types": [ 1, { 'forbid' : [ 'any', 'array' ] } ],
    "semi": [ "error", "always", { "omitLastInOneLineBlock": true }],
    "comma-dangle": "off",
    "no-nested-ternary": "off",
  }
}
